<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>parksjavajsp</display-name>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/study</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  	<!-- POST 한글 깨짐 방지 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>study.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/＊</url-pattern>
	</filter-mapping>

  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>study.ZZexcecise.servlet.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>study.servlet.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/helloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HangeulTest</servlet-name>
    <servlet-class>study.servlet.HangeulTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HangeulTest</servlet-name>
    <url-pattern>/hangeul</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>study.servlet.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>study.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/common/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/common/error/404.jsp</location>
  </error-page>
  <listener>
    <listener-class>study.config.ConfigLoadListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>